{% extends 'base.html' %}
{% load static %}
{% block title %}Database{% endblock %}
{% block content %}
<div class="container">
  <div class="card">
    <h1>Registered Users</h1>
    <table>
        <thead>
            <tr>
                <th>Slot</th><th>Plate</th><th>Name</th><th>Contact</th><th>Vehicle Type</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.slot }}</td>
                <td>{{ user.plate }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.contact }}</td>
                <td>{{ user.type }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}